body
{
    margin  : 0;
    padding : 0;
}

.blockButton
{
    margin     : 0px auto 10px auto ;
    text-align : center;
    width      : fit-content;
}

.buttonAdminIndex
{
    left : 92%;
}

.buttonLoginLogout
{
    left : 96%;
}

.buttonAdminIndex, .buttonLoginLogout
{
    position : absolute;
    top      : 5px;
}

.buttonAdminIndex, .buttonLoginLogout:hover
{
    cursor : pointer;
    filter : brightness(1.30);
}

.formAddAdvert, .formAddEditAdminUser, .formAddEditCategory
{
    margin     : auto;
    padding    : 15px;
    text-align : center;
    width      : fit-content;
}

.formSortByCategory
{
    margin-bottom : 0.5%;
    text-align    : center;
}

header
{
    background-color : #f8f8f8;
    border-bottom    : 1px solid #a1a2b4;
    height           : 110px;
    margin-bottom    : 2%;
    padding : 10px;
    position         : sticky;
    top              : 0px;
    z-index          : 99;
}

hr
{
    margin-bottom : 2em;
    margin-top    : 2em;
}

table
{
    border-collapse : collapse;
    border-spacing  : 0;
    margin          : auto;
}

table tr:nth-child(odd) /* Mettre 1 ligne sur 2 d'une autre couleur */
{
    background-color : #f0f0f0;
}

td, th
{
    text-align : center;
}

td
{
    border-top : 1px solid black;
    padding    : 7px;
}

th
{
    background-color : #c3c5f8;
    color            : black;
    font-size        : 25px;
    font-weight      : bold;
    padding          : 15px;
}

.userName
{
    font-size : 14px;
    position  : absolute;
    right     : 1%;
    top       : 73px;
}