{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block headerButtons %}
    <a href="{{ path('index') }}">
        <img class="buttonIconReturn" src="{{ asset('/ressources/images/IconReturn.png') }}" height="63" width="63" title="Retour sur LeBonAngle"/>
    </a>
{% endblock %}

{% block content %}
    <div class="formLogin">
        {% if error %}
            <h3>Au moins une des informations saisies est invalide</h3>
            <hr width="100%"/>
        {% endif %}
        <form action="{{ path('admin_login') }}" method="post">
            <label for="username">Email : </label>
            <input type="text" id="username" name="_username" value="" required>

            <hr width="100%"/>

            <label for="password">Mot de passe : </label>
            <input type="password" id="password" name="_password" required>

            <hr width="100%"/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" name="loginButton">Se connecter en administrateur</button>
        </form>
    </div>
{% endblock %}